.activity {
	display: none;
	padding-bottom: 94px;
	@include desktop {
		display: block;
	}
}

.activity-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 0.03em;
}

.activity-list {
	display: flex;
}

.activity-list-item {
	position: relative;
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.activity-label {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 100%;
	bottom: 0;
	background: rgba(47, 48, 58, 0.8);
}

.activity-label-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--minor-color);
}
