.footer {
	background-color: var(--footer-background);
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-footer {
	font-family: "Raleway", sans-serif;
	font-size: 0px;
	display: inline-block;
}

.logo-web {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	@include desktop {
		font-size: 26px;
		line-height: 1.19;
	}
}

.logo-studio-footer {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--minor-color);
	@include desktop {
		font-size: 26px;
		line-height: 1.19;
	}
}

.address {
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	margin-top: 20px;
	width: 231px;
}

.address-street {
	font-family: inherit;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--minor-color);
	cursor: auto;
}

.address-item {
	font-family: inherit;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.mail-margin {
	margin-bottom: 9px;
	margin-top: 9px;
}

.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--minor-color);
}

.footer-flex {
	display: block;
	text-align: center;
	@include desktop {
		display: flex;
		text-align: left;
	}
}

.footer-soc-list {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.footer-soc-item {
	width: 44px;
	height: 44px;
	margin-left: 10px;
	&:first-child {
		margin-left: 0;
	}
}

.footer-soc-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--minor-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.footer-soc-icon {
	fill: currentColor;
}

.footer-item-1 {
	@include tablet {
		margin-left: 61px;
	}
	@include desktop {
		margin-left: 0;
	}
}

.footer-item-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 206px;
	height: 80px;
	@include tablet {
		margin-left: 165px;
		margin-top: 7px;
	}
	@include desktop {
		margin-top: 15px;
		margin-left: 70px;
	}
}

.footer-tab-flex {
	@include tablet {
		display: flex;
	}
}

.footer-item-3 {
	display: block;
	width: 100%;
	height: 156px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	@include desktop {
		margin-top: 12px;
		margin-left: 93px;
		height: 86px;
		width: 450px;
		width: 570px;
	}
}

.footer-form {
	display: block;
	@include desktop {
		display: flex;
	}
}

.email-submit {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	padding: 15px 16px;
	color: var(--minor-color);
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}
	@include tablet {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	@include desktop {
		width: 358px;
		margin-right: 12px;
	}
}

.footer-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.footer-order {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	margin-right: 10px;
	color: var(--minor-color);
}
