:root {
	--minor-color: #ffffff;
	--hero-background: #2f303a;
	--footer-background: #2f303a;
	--primary-color: #212121;
	--secondary-color: #757575;
	--accent-color: #2196f3;
	--btn-color: #f5f4fa;
	--main-font: "Roboto", sans-serif;
}
